:root {
    --app-container: #121212;
    --main-color: #e0e0e0;
    --input-bg: #1e1e24;
    --button-bg: #FFD700;
    --sidebar-bg: #1A1A1A;
    --hover-bg: rgba(255, 255, 255, 0.1);
    --hover-button-bg: #FFD700;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--app-container);
    color: var(--main-color);
    height: 100vh;
    overflow: auto;
}

.app-container {
    display: flex;
    height: 100vh;
}

.app-content {
    display: flex;
    flex: 1;
}

.app-sidebar {
    width: 250px;
    background-color: var(--sidebar-bg);
    padding: 20px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--button-bg);
    margin-bottom: 20px;
}

.app-sidebar-link {
    color: var(--main-color);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin-bottom: 8px;
}

.app-sidebar-link:hover {
    background-color: var(--hover-bg);
    color: var(--hover-button-bg);
}

.chat-section {
    flex: 0 0 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--app-container);
    box-shadow: none;
    margin: 0 auto;
}

.messages-section {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 16px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-box {
    padding: 10px;
    border-radius: 20px;
    position: relative;
    max-width: 1200px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    font-size: 19px;
}

.message-box.bot {
    background-color: transparent;
    color: var(--main-color);
    align-self: flex-start;
}

.message-box.user {
    background-color: #1e1e24;
    color: #FFFF;
    align-self: flex-end;
    padding: 12px 16px;
    border-radius: 20px;
    margin: 8px 0;
}

.messages-section::-webkit-scrollbar {
    width: 0.2rem;
}

.messages-section::-webkit-scrollbar-track {
    background: #1e1e24;
}

.messages-section::-webkit-scrollbar-thumb {
    background: -webkit-radial-gradient(
        circle,
        #b9a8fd 0%,
        #fd1d83 50%,
        #fcc545 100%
    );
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.file-button {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.input-message,
.input-message:focus {
    flex: 0 0 70%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: var(--input-bg);
    color: var(--main-color);
    margin: 0 10px;
    font-size: 1.1rem;
    min-height: 50px;
    max-height: 200px;
    resize: none;
    overflow-y: auto;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: var(--app-container);
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-button:hover {
    color: #FFC300;
}

.send-button:hover {
    background-color: #FFC300;
}

.input-message:focus,
.send-button:focus,
.file-button:focus {
    outline: none;
}

.input-message::-webkit-scrollbar {
    width: 0.2rem;
}

.input-message::-webkit-scrollbar-track {
    background: transparent;
}

.input-message::-webkit-scrollbar-thumb {
    background: -webkit-radial-gradient(
        circle,
        #b9a8fd 0%,
        #fd1d83 50%,
        #fcc545 100%
    );
}
